<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" [fullscreen]="true">
  <div class="wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Primer ingreso seguro</ion-card-title>
        <ion-card-subtitle>Debes cambiar tu contrasena temporal para continuar.</ion-card-subtitle>
        <ion-card-subtitle *ngIf="sesion">
          Usuario actual: {{ sesion.nombre }} ({{ sesion.correo }})
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Contrasena actual</ion-label>
          <ion-input type="password" [(ngModel)]="form.actual" autocomplete="new-password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nueva contrasena</ion-label>
          <ion-input type="password" [(ngModel)]="form.nueva" autocomplete="new-password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar nueva contrasena</ion-label>
          <ion-input type="password" [(ngModel)]="form.confirmar" autocomplete="new-password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" [disabled]="loading" (click)="guardar()">
          {{ loading ? 'Guardando...' : 'Actualizar contrasena' }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
