PORT=3001

DB_USER=sa
DB_PASSWORD=REEMPLAZAR_PASSWORD_DB
DB_SERVER=127.0.0.1
DB_DATABASE=GestorBancarioDB
DB_PORT=1433
DB_TRUST_CERT=true

# Opcion 1: Mailtrap (recomendada para pruebas)
# Copia estos valores desde Email Testing -> Inboxes -> tu inbox -> SMTP Settings
# SMTP_HOST=sandbox.smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_USER=REEMPLAZAR_USER_MAILTRAP
# SMTP_PASS=REEMPLAZAR_PASS_MAILTRAP
# SMTP_FROM=Gestor Bancario <no-reply@demo.local>
# SMTP_SECURE=false

# Opcion 2: SMTP real
SMTP_HOST=smtp.tu-dominio.com
SMTP_PORT=587
SMTP_USER=usuario@tu-dominio.com
SMTP_PASS=REEMPLAZAR_PASSWORD_SMTP
SMTP_FROM=Gestor Bancario <no-reply@tu-dominio.com>
SMTP_SECURE=false